body {
    position: relative;
    background-color: #ffffff;
}

#contact {
    width: 100%;
    top: 5%;
    padding-bottom: 5%;
    height: fit-content;
    position: relative;
}

#form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fafafa;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    padding-bottom: 30px;
    text-align: center;
}

#form h1 {
    font-size: 6rem;
    margin-top: 0;
}

#form input,
textarea,
button {
    font-family: sans-serif;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 3.5rem;
    margin: 20px;
    width: 80%;
    padding: 30px;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    border: none;
}

#form textarea {
    height: 30rem;
}

#form button {
    background-color: #3e88f8;
    color: #ffffff;
    width: 40%;
}

#form button:active {
    background-color: #316cc6;
}